@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
    html {
        @apply bg-amber-50 font-sans
    }

    body {
        @apply mx-auto w-full p-4 leading-normal font-serif
    }

    * {
        @apply box-border
    }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
    /* Navigation styles */

    .nav-links a {
        @apply py-2 text-lg font-bold  text-zinc-500 hover:text-black dark:text-zinc-500 dark:hover:text-white

    }

    :has(.menu[aria-expanded="true"]) .nav-links {
        display: unset;
    }

    @media screen and (min-width: 636px) {
        .nav-links {
            @apply ml-0.5 block static w-auto bg-transparent 
        }

        .nav-links a {
            @apply inline-block px-3
        }

        .menu {
            @apply hidden
        }
    }

    a {
        @apply no-underline
    }

    html.dark {
        @apply bg-zinc-950 text-white
    }

    .dark .menu {
        background-color: #fff;
        color: #000;
    }

}
