@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
    html {
        @apply bg-amber-50 font-sans
    }

    body {
        @apply mx-auto w-full max-w-prose p-4 leading-normal
    }

    * {
        @apply box-border
    }
}

@layer components {
    /* Navigation styles */

    .nav-links a {
        @apply block text-center py-2 text-lg font-bold no-underline uppercase text-indigo-950 rounded-full

    }

    .nav-links a:hover,
    .nav-links a:focus {
        @apply bg-blue-200
    }

    :has(.menu[aria-expanded="true"]) .nav-links {
        display: unset;
    }

    @media screen and (min-width: 636px) {
        .nav-links {
            @apply ml-0.5 block static w-auto bg-transparent 
        }

        .nav-links a {
            @apply inline-block px-5
        }

        .menu {
            @apply hidden
        }
    }

    html.dark {
        background-color: #252526;
        color: #fff;
    }

    .dark .menu {
        background-color: #fff;
        color: #000;
    }

    .dark .nav-links a:hover,
    .dark .nav-links a:focus {
        color: #0d0950;
    }

    .dark .nav-links a {
        color: #fff;
    }

    .dark a {
        color: #ff9776;
    }
}
